<% layout('layout') -%>
<% block('jumbotron').append('<h1>김케이인포</h1><h4>러블리즈 케이 팬사이트! 김케이인포</h4>') %>
<article id="content" class="content panel col col-lg-10 col-sm-10 col-lg-push-2 col-sm-push-2" itemscope="" itemtype="http://schema.org/Article">
    <div class="town">
        <section class="row">
            <div class="col-lg-6 col-sm-6">
                <h3><i class="fa fa-trophy"></i>&nbsp;BEST 5</h3>
                <table class="table table-hover table-striped table-condensed tb">
                    <thead>
                        <tr>
                            <th>제목</th>
                            <th>닉네임</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6 col-sm-6">
                <h3><a href="./news"><i class="fa fa-info-circle"></i>&nbsp;뉴스</a></h3>
                    <table class="table table-hover table-striped table-condensed tb">
                        <thead>
                            <tr>
                                <th>제목</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
            </div>
        </section>
        <section class="row">
            <div class="col-lg-12 col-sm-12">
                <h3><a href="./photo"><span class="fa fa-camera"></span>&nbsp;사진 게시판</a></h3>
                    <div class="row">
                        <div class="col col-lg-2 col-sm-4 col-xs-6 span2">
                            <div class="thumbnail" style="margin-bottom:10px">
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <h3><a href="./talk"><span class="fa fa-coffee"></span>&nbsp;잡담</a></h3>
                    <table class="table table-hover table-striped table-condensed tb">
                        <thead>
                            <tr>
                                <th>제목</th>
                                <th>닉네임</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
            </div>
            <div class="col-lg-6 col-sm-6">
                <h3><span class="fa fa-leaf"></span>&nbsp;유머</h3>
                    <table class="table table-hover table-striped table-condensed tb">
                        <thead>
                            <tr>
                                <th>제목</th>
                                <th>닉네임</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
            </div>
        </section>
    </div>
</article>